.fastmatching{    
    width: 340px;
    height: 275px;
    border: 1px solid #878181;
    border-radius: 5px;
    margin: 15px 0px 0px -30px;   
    padding: 20px 5px 25px 10px;
}

.fastmatching_tie{
    margin: 12px 0px 15px 0px;  
    padding: 0px 0px 0px 0px;  
    display: flex;
    align-items: center; 
/*     background-color: yellow; */
}

.fastmatching_title{
    float: left;
    color:#878181;
    background: none;
    margin: 0px 0px 0px 0px;  
    font-size: 15px;
    font-weight: 500;
/*     background-color: red; */
}

.fastmatching_content{
    height: 20px;
    background: none;
    color:black;
    font-size: 15px;   
    font-weight: 700;
    margin-left: 10px;
    margin-top: -345px;
    margin-bottom: 3px;

/*     background-color: orange; */
}

.fastmatching_content_specific{
    width: 330px;
    height: 80px;
    border: 1px solid #878181;
    background-color: #ECECEC;
    border-radius: 5px;
    text-align: center;
    margin: 20px 0px 15px -5px;  
    padding: 5px 0px 5px 0px;  
}

.fastmatching_box_title{
    float: left;
    width: 110px;
    color:#878181;
    background-color: #ECECEC;
    font-size: 13px;
    font-weight: 500;
    margin: 0px 0px 0px 0px;    
}

.fastmatching_box_content{
    float: right;
    width: 110px;
    color:black;
    background-color: #ECECEC;
    font-size: 13px;
    font-weight: 700;
    margin: 0px 0px 0px 0px;  
  
}


.fastmatching_button{
    width: 45px;
    height: 27px;
    background-color: white;
    border: 1px solid  ;
    border-radius: 5px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    
}

.fastmatching_button.clicked{
    width: 45px;
    height: 27px;
    background-color: #F9D1CF;
    color:#FF971E;
    border: 1px solid  ;
    border-radius: 5px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    
}

.none-apply{
    border: none;
    background-color: #D9D9D9;
    color: #B3B3B3;
    display: block;
    width: 340px;
    height: 56px;
    float: center;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 900;
    font-size: 15px;
    margin-left: -30px;
    

/*     width: 305px;
    height: 56px;


    margin-left: -10px;
    margin-right: 30px; */

/*     하단에 위치시키기 */
position: absolute;
bottom: -60px;
}

.checkbox-selected {
    border: 2px solid orange;
  }

.matching_radio{
    position:absolute;
    opacity: 0;
    width: 0;
}

.fastmatching_radio{
    margin-right: 5px;
}

.submit_bottom{
    border: none;
    background-color: #FF971E;
    color: white;
    display: block;
    width: 340px;
    height: 56px;
    float: center;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 900;
    font-size: 15px;
    margin-left: -30px;
    margin-right: 30px;

/*     하단에 위치시키기 */
    position: absolute;
    bottom: -60px;
}