.helper_findingMatching{
    margin-top: 15px;
    display: flex;
    align-items: center;
        margin-left: -10px;
}

.helper_matching{
    width: 200px;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 5px;
    padding-right: 0px;
}


.helper_matching_button{
    border: none;
    outline: none;
    background-color: inherit ;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    color: #B3B3B3;
}


.active{
    color:#FF971E;
    
}

.helper_matching_hr{
    width: 150px;
    border-width:1px 0 0 0;
}

.active_hr{
    width: 150px;
    border-width:1px 0 0 0;
    border-color: #ffa53f;
}

.activeComponent{
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}


.GoBackButton{
    width: 20;
    height: 20;
    float: left;
    padding-left: 10px;
    padding-top: 5px;
    margin-right: -20px;
}